# SPDX-License-Identifier: CC0-1.0

# Normalização dos finais de linha.
* text=auto

# Declare arquivos cujos finais de linha devem ser sempre os mesmos.
#*. text eol=

# Declare arquivos binários (e que não devem ser normalizados).
*.eps binary
*.jpg binary
*.pdf binary
*.png binary
*.svg binary
