# SPDX-License-Identifier: CC0-1.0

# Arquivos temporários
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.lof
*.log
*.lot
*.nav
*.out
*.out.ps
*.pyg
*.snm
*.synctex*
*.tdo
*.toc
*.vrb
*.xml

# Cache do pacote Minted
_minted-[0-9]/

# Slides
[0-9]/[0-9].pdf
