# SPDX-License-Identifier: CC0-1.0

# Normalização dos finais de linha.
* text=auto

# Declare arquivos binários (e que não devem ser normalizados).
*.eps binary
*.fzz binary
*.jpg binary
*.pdf binary
*.png binary
*.svg binary
